.games-loader {
  transform: scale(0.75);
}
.grid {
  padding: 20px 30px;
}
.games-header {
  margin: 0;
  font-size: 2.5rem;
}
.game-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding: 20px 0px;
}

@media screen and (min-width: 768px) {
  .game-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .game-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .game-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
