form {
  margin: 0 20px;
}
/* Input groups define container for everything in an input field */
.input-group {
  align-items: center;
  background: #202020;
  border-radius: 30px;
  display: flex;
  transition: box-shadow 0.2s;
  transition: background-color 0.2s;
}
.input-group:focus-within {
  box-shadow: 0 0 2px 2px dodgerblue;
  background: #121212;
}
.input {
  background: #202020;
  border-radius: 30px;
  border: 0;
  box-sizing: border-box;
  color: #ccc;
  margin: 2px;
  outline: 0;
  padding: 10px 10px;
  transition: background-color 0.2s;
}
.input:focus {
  background: #121212;
}
.icon {
  color: #ccc;
  min-height: 20px;
  min-width: 20px;
}
.icon-search {
  padding-left: 20px;
}
.icon-close {
  cursor: pointer;
  padding-right: 20px;
}
