html {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.side-panel {
  background-color: cyan;
}
.main {
  background-color: magenta;
}
form {
  width: 100%;
}
input {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: minmax(10px, 1fr) 5fr;
  }
}
