html {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
/* .side-panel {
  background-color: cyan;
  text-align: Left;
  padding-left: 25px;
} */
.main {
  margin-top: 5px;
  /* background-color: magenta; */
}
form {
  width: 100%;
}
input {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 200px 5fr;
  }
}
